@use '/src/styles/abstracts/core' as *;

.carouselContainer {
  .contentContainer {
    overflow: hidden;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: end;
      gap: 20px;

      .image {
        width: 100%;
        object-fit: contain; // 이미지가 잘리지 않도록 조정
        aspect-ratio: 1;
      }

      .description {
        color: $red;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
      }
    }
  }

  .dotContainer {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    gap: 5px;

    .dot {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background-color: $gray500;
      z-index: 200;

      &.selected {
        background-color: $red;
      }
    }
  }
}
