@use '/src/styles/abstracts/core' as *;

.modalContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 10px;

    .optOut {
      background-color: $gray600;
    }
  }
}
