@use '/src/styles/abstracts/core' as *;

.modal {
  @extend .createItemModal;

  .createWorkoutForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .submitButton {
    @extend .submitButton;
    margin-top: 20px;
  }
}
