@use '/src/styles/abstracts/core' as *;

.routineList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;
}

.itemContainer {
  @extend .itemContainer;

  .emojiWrapper {
    @extend .emojiWrapper;
    background-color: $gray700;
    color: $red;
  }

  .name {
    @extend .itemNameContainer;
  }
}
