@use '/src/styles/abstracts/core' as *;

.routineItem {
  @extend .itemContainer;
  background-color: transparent;
  color: $white;
  touch-action: none;

  .emojiWrapper {
    @extend .emojiWrapper;
    background-color: $gray700;
    color: $red;
  }

  .name {
    @extend .itemNameContainer;
  }
}
