@use '/src/styles/abstracts/core' as *;

.routineItem {
  @extend .itemContainer;
  background-color: transparent;
  color: $white;

  .emojiWrapper {
    @extend .emojiWrapper;
    background-color: $gray700;
    color: $red;
  }

  .itemContent {
    @extend .itemNameContainer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .name {
      @extend .textEllipsis;
    }

    .edit {
      flex-shrink: 0;
      background-color: transparent;
      color: $red;
      width: 60px;
      height: 100%;
    }
  }
}
