@use '/src/styles/abstracts/colors' as *;
@use '/src/styles/abstracts/mixins' as *;

.itemContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 100%;
  padding: 0;
}

.emojiWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  min-width: 64px;
  width: 64px;
  border-radius: 6px;
}

.itemNameContainer {
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid $gray700;
  font-size: 20px;
  font-weight: 500;
  height: 64px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.buttonPrimary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;
  padding: 15px 0;

  border-radius: 8px;
  font-size: 20px;
}

// createItemModal
.createItemModal {
  display: flex;
  flex-direction: column;
  gap: 40px;

  width: 500px;

  @include mobile {
    width: 300px;
  }
}

.submitButton {
  @extend .buttonPrimary;

  font-size: 18px;
  font-weight: 600;
  padding: 12px 0;
  color: $black;
  background-color: $red;
}

.textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
