@use '/src/styles/abstracts/core' as *;

.modal {
  @extend .createItemModal;

  .createRoutineForm {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .buttonContainer {
    display: flex;
    gap: 10px;

    .submitButton {
      @extend .submitButton;

      &.delete {
        background-color: $gray500;
      }
    }
  }
}
