@use '/src/styles/abstracts/core' as *;

.workoutItem {
  @extend .itemContainer;
  background-color: transparent;

  .emojiWrapper {
    @extend .emojiWrapper;
    background-color: $gray700;
    font-size: 25px;
    font-weight: 700;
    color: $red;

    .icon {
      color: $red;
    }
  }

  .workoutDetail {
    @extend .itemNameContainer;
    color: $white;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;

    .detail {
      display: flex;
      gap: 8px;
      font-size: 15px;
      color: $red;
    }
  }
}
