@use '/src/styles/abstracts/core' as *;

.workoutItem {
  @extend .itemContainer;
  background-color: transparent;

  .emojiWrapper {
    @extend .emojiWrapper;
    background-color: $gray700;
    font-size: 25px;
    font-weight: 700;
    color: $red;

    .icon {
      color: $red;
    }
  }

  .workoutDescription {
    @extend .itemNameContainer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .content {
      color: $white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      width: 80%;

      .name {
        text-align: start;
        @extend .textEllipsis;
      }

      .detail {
        display: flex;
        gap: 8px;
        font-size: 15px;
        color: $red;
      }
    }

    .trash {
      flex-shrink: 0;
      height: 100%;
      width: 50px;
      color: $red;
      background-color: transparent;
    }
  }
}
