@use '/src/styles/abstracts/core' as *;

.modal {
  @extend .createItemModal;
}

.workoutForm {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .submitButton {
    @extend .submitButton;
    margin-top: 20px;
  }
}
