@use '/src/styles/abstracts/core' as *;

.workoutContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 0;
  height: 100%;

  .icon {
    color: $red;

    &.rotate {
      animation: $rotateCenter;
    }
  }

  .titleContainer {
    display: flex;
    gap: 3px;

    .title {
      @include listTitle;
    }
  }
}
