@use '/src/styles/abstracts/core' as *;

.workoutContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 12px 0;

  .icon {
    color: $red;
  }

  .titleContainer {
    display: flex;
    gap: 12px;

    .title {
      @include listTitle;
    }
  }

  .buttonsContainer {
    display: flex;
    gap: 10px;

    a {
      @extend .buttonPrimary;
      background-color: $gray700;
      color: $red;
    }
  }
}
