@use '/src/styles/abstracts/core' as *;

.modalFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: $modalZIndex;

  .modalContent {
    background-color: $black;
    border: 1px solid $gray700;
    border-radius: 8px;
    padding: 20px;

    &.fadeIn {
      animation: $fadeIn;
    }

    &.fadeOut {
      animation: $fadeOut;
    }
  }
}
