@use '/src/styles/abstracts/core' as *;

.routineContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;

  .title {
    @include listTitle;
    padding-bottom: 15px;
  }
}
