@use '/src/styles/abstracts/core' as *;

.routineContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;

    .title {
      @include listTitle;
    }

    .button {
      background-color: transparent;
      color: white;
    }
  }
}
