@use '/src/styles/abstracts/core' as *;

.modalFrame {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: $modalZIndex;

  .fadeIn {
    animation: $fadeIn;
  }

  .fadeOut {
    animation: $fadeOut;
  }
}
