@use '/src/styles/abstracts/core' as *;

.modal {
  @extend .createItemModal;

  .createRoutineForm {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .submitButton {
    @extend .submitButton;
  }
}
