@use '../abstracts/core' as *;
@use '../base/reset.scss' as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
}

button {
  cursor: pointer;
  background-color: none;
  border: none;
}
