@use '../abstracts/core' as *;
@use '../base/reset.scss' as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $black;
  color: $white;
}

button {
  cursor: pointer;
  background-color: none;
  border: none;
  color: $black;
}

a {
  text-decoration: none;
  color: $white;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
